name: check build

on: [pull_request, push]

jobs:
  run_dune_build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR
        uses: actions/checkout@v2

      - name: Set up ocaml
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: 4.12.0

      - name: Checks
        run: |
          set -x
          eval $(opam env)
          # make sure we can run opam pin
          opam pin add hexstring .

          # make sure tests pass
          opam install dune
          dune runtest

          # make sure opam package file is valid
          opam-dune-lint
